@page
@model BankMmg.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

        <style >
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body style="background-color:bisque;">
    <div>
        <!-- Navigation bar code -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <a class="navbar-brand" href="#">Australia Newzealand Bank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#addStudent">Add Bank Staff</button>
                    </li>
                </ul>
            </div>

        </nav>
        </div>
        <!-- following division is creating main area of the web page where all books data will display -->
    <div class="container">
        <table border="1" width="100%">

            <table class="table table-striped table-warning table-bordered rounded">


                <thead class="thead-dark rounded">

                    <tr class="rounded">

                        <th scope="col">Employee Name</th>
                        <th scope="col">Employee position </th>
                        <th scope="col">Employee Email</th>
                        <th scope="col">Employee Contact</th>
                        <th scope="col">Employee Address</th>
                    </tr>

                </thead>
                <tbody id="allStudents">
                </tbody>


            </table>
        </table>

</div>

            <!-- below mentioned code will create the template to add a new book -->
            <div class="modal" tabindex="-1" role="dialog" id="addStudent">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Students</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="Student_Name">Employee Name</label>
                                    <input type="text" class="form-control" id="employee_Name" aria-describedby="Student_NameHelp" placeholder="Enter Student Name">

                                </div>
                                <div class="form-group">
                                    <label for="Email">Employee Position</label>
                                    <input type="text" class="form-control" id="employee_Position" aria-describedby="EmailHelp" placeholder="Enter Student Email">

                                </div>
                                <div class="form-group">
                                    <label for="Mobile">Employee Email</label>
                                    <input type="text" class="form-control" id="employee_Email" aria-describedby="MobileHelp" placeholder="Enter Student Mobile Number">
                                </div>
                                <div class="form-group">
                                    <label for="Course_Name"> employee Contact</label>
                                    <input type="text" class="form-control" id="employee_Contact" aria-describedby="course_NameHelp" placeholder="Enter Name of the Course">
                                </div>
                                <div class="form-group">
                                    <label for="Course_Duration">employee Address</label>
                                    <input 0. class="form-control" id="employee_Address" aria-describedby="course_DurationHelp" placeholder="Enter the length of the Course">
                                </div>
                                <div class="form-group" id="result">


                                </div>
                                <button type="button" class="btn btn-primary" onclick="addStudent()">Add Student</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- below mentioned code will create the template to Update a new book -->
            <div class="modal" tabindex="-1" role="dialog" id="UpdateBankManagement">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update Student Data</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="Update_id" aria-describedby="IdHelp">
                                </div>
                                <div class="form-group">
                                    <label for="Student_Name">employee Name</label>
                                    <input type="text" class="form-control" id="Update_employee_Name" aria-describedby="Student_NameHelp">
                                </div>
                                <div class="form-group">
                                    <label for="Email">employee Position</label>
                                    <input type="text" class="form-control" id="Update_employee_Position" aria-describedby="EmailHelp">
                                </div>
                                <div class="form-group">
                                    <label for="Mobile">employee Email</label>
                                    <input type="text" class="form-control" id="Update_employee_Email" aria-describedby="MobileHelp">
                                </div>
                                <div class="form-group">
                                    <label for="Course_Name">employee Contact</label>
                                    <input type="text" class="form-control" id="Update_employee_Contact" aria-describedby="course_NameHelp">
                                </div>
                                <div class="form-group">
                                    <label for="Course_Duration">employee Address</label>
                                    <input 0. class="form-control" id="Update_employee_Address" aria-describedby="course_DurationHelp">
                                </div>
                                <div class="form-group" id="update_result">


                                </div>
                                <button type="button" class="btn btn-primary" onclick="updateStudent()">Update</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>

            <! -- java script files that will help to link the front end and back end -->
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

            <script>
                var uri = 'api/BankSystems';
                //Java script main function so JS start from here
                $(document).ready(function () {
                    $.getJSON(uri)
                        .done(function (data) {
                            $("#StudentsTemplate").tmpl(data).appendTo("#allStudents");
                        });
                });
                // function to get all students data and show on web page
                function getAllStudents() {
                    $.getJSON(uri)
                        .done(function (data) {
                            $("#allStudents").text("");
                            $("#StudentsTemplate").tmpl(data).appendTo("#allStudents");
                        });
                }
                // function to add data for new student
                function addStudent() {
                    var _employee_Name = $('#employee_Name').val();
                    var _employee_Position = $('#employee_Position').val();
                    var _employee_Email = $('#employee_Email').val();
                    var _employee_Contact = $('#employee_Contact').val();
                    var _employee_Address = $('#employee_Address').val();
                    var BankSystems = {
                        employee_Name: _employee_Name,
                        employee_Position: _employee_Position,
                        employee_Email: _employee_Email,
                        employee_Contact: _employee_Contact,
                        employee_Address: _employee_Address
                    };
                    $.ajax({
                        type: "POST",
                        url: uri,
                        data: JSON.stringify(BankSystems),
                        contentType: "application/json; charset=utf-8"
                    }).done(function (response) {
                        $("#result").html("New Student data is added successfully");
                        getAllStudents();
                    }).fail(function (jqXHR, textStatus) {
                        $("#result").html("An error occured when Adding the student record.");
                    });
                }
                //funtion to delete a particular student based on id
                function remove(id) {
                    var yes = confirm("Are you sure you want to delete this student?");
                    if (yes) {
                        $.ajax({
                            type: "DELETE",
                            url: uri + "/" + id,
                        }).done(function (response) {
                            $("#result").html("Student data is deleted successfully");
                            getAllStudents();
                        }).fail(function (jqXHR, textStatus) {
                            $("#result").html("An error occured when deleting the student record.");
                        });
                    }
                }
                // funtion to fill the data into update template
                function getStudentForUpdate(id) {
                    $.ajax({
                        type: "GET",
                        url: uri + "/" + id,
                        contentType: "application/json"
                    }).done(function (response) {
                        $('#Update_id').val(response.id);
                        $('#Update_employee_Name').val(response.employee_Name);
                        $('#Update_employee_Position ').val(response.employee_Position);
                        $('#Update_employee_Email').val(response.employee_Email);
                        $('#Update_employee_Contact').val(response.employee_Contact);
                        $('#Update_employee_Address').val(response.employee_Address);
                    });
                }
                // function to update data of the student
                function updateStudent() {
                    var _employee_Name = $('#Update_employee_Name').val();
                    var _employee_Position = $('#Update_employee_Position').val();
                    var _employee_Email = $('#Update_employee_Email').val();
                    var _employee_Contact = $('#Update_employee_Contact').val();
                    var _employee_Address = $('#Update_employee_Address').val();
                    var EmployeeUpdate = {
                        id: parseInt($('#Update_id').val()),
                        employee_Name: _employee_Name,
                        employee_Position: _employee_Position,
                        employee_Email: _employee_Email,
                        employee_Contact: _employee_Contact,
                        employee_Address: _employee_Address,
                    };
                    $.ajax({
                        type: "PUT",
                        url: uri + "/" + $('#Update_id').val(),
                        data: JSON.stringify(BankManagementUpdate),
                        contentType: "application/json; charset=utf-8"
                    }).done(function (response) {
                        $("#update_result").html("Record is updated Successfully");
                        getAllStudents();
                    }).fail(function (jqXHR, textStatus) {
                        $("#update_result").html("An error occured when updating student record.");
                    });
                }
            </script>
            <!-- below mentioned code will create the template on the web page to display all books -->

            <script id="StudentsTemplate" type="text/x-jquery-tmpl">

                <table>

                    <tr>
                        <td>${employee_Name}</td>
                        <td>${employee_Position}</td>
                        <td>${employee_Email}</td>
                        <td>${employee_Contact}</td>
                        <td>${employee_Address}</td>

                    <button class="btn btn-primary" onclick="getStudentForUpdate('${id}')" data-toggle="modal" data-target="#UpdateBankManagement">Update</button>
                    <a href="#" class="btn btn-danger" onclick="remove('${id}')">Delete</a>
                   
                    </tr>
                </table>


            </script>



</body>
</html>

